html
{
  height: 100%;
}
body
{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 13px;
}
h1, h2
{
  margin: 0;
  padding: 0;
}
h1
{
  font-size: 28px;
  color: rgb(236, 111, 17);
}
h2
{
  font-size: 20px;
}
p
{
  margin: 0;
  padding: 0;
  line-height: 150%;
}
a
{
  font-family: Arial;
  font-size: 17px;
  text-decoration: none;
}
a:link, a:visited, a:active
{
  color: rgb(153, 153, 153);
}
a:hover
{
  color: #FFFFFF;
}
*:focus
{
  outline: none;
}
.shadow
{
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.9);
}
div.background
{
  color: rgb(205, 205, 205);
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)), url('../img/stripe.png');
  background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)), url('../img/stripe.png');
  background: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)), url('../img/stripe.png');
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2)), url('../img/stripe.png');
}
header
{
  width: 1000px;
  margin: 0 auto;
  padding-top: 5px;
}
div.language
{
  width: 54px;
  height: 25px; 
  margin-left: auto;
  margin-right: 51px;
}
div.language img
{
  padding: 2px;
}
div.subscribe
{
  width: 240px;
  height: 27px;
  margin-left: auto;
  margin-right: 36px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgb(51, 51, 51);
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px;
  border-radius: 10px; 
}
div.subscribe input[type="text"]
{
  background: rgb(51, 51, 51);
  border: 0;
  color: rgb(205, 205, 205);
  width: 210px;
}
div.subscribe input[type="submit"]
{
  background: url('../img/envelope.gif') no-repeat;
  width: 24px;
  height: 13px;
  margin-top: 6px;
  cursor: pointer;
  border: none;
}
section
{
  width: 1000px;
  margin: 0 auto;
  background: rgb(239, 239, 239);
  -moz-border-radius: 20px 20px 0px 0px; 
  -webkit-border-radius: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
nav
{
  position: relative;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  top: -12px;
  left: 100px;
  width: 875px;
  height: 65px;
  background: url('../img/menu.png') no-repeat;
}
#logo
{
  position: absolute;
  left: -125px;
  top: -60px;
}
nav ul
{
  margin-left: 60px;
  padding-top: 25px;
}
nav li
{
  display: inline;
  position: relative;
  margin-left: 35px;
  margin-right: 35px;
}
nav li img
{
  position: absolute;
  top: 20px;
  left: 0;
}
div.top
{
  position: relative;
  margin-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
}
div.top h1
{
  position: relative;
  overflow: hidden;
}
div.top h1:after
{
  display: inline-block;
  content: "";
  height: 1px;
  background: rgb(236, 111, 17);
  position: absolute;
  width: 100%;
  bottom: 15%;
  margin-left: 10px;
}
div.top img
{
  content: url('../img/shelby.png');
}
div.middle
{
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.9);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.9);
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.9);
  background: -webkit-linear-gradient(rgb(95, 95, 95), rgb(33, 33, 33));
  background: -o-linear-gradient(rgb(95, 95, 95), rgb(33, 33, 33));
  background: -moz-linear-gradient(rgb(95, 95, 95), rgb(33, 33, 33));
  background: linear-gradient(rgb(95, 95, 95), rgb(33, 33, 33));
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 20px;
}
div.middle article
{
  width: 28%;
  display: inline-block;
  margin: 20px;
}
div.middle h2
{
  color: rgb(236, 111, 17);
}
div.middle p
{
  margin: 5px 0px 5px 0px;
  padding-bottom: 5px;
}
#suitcase
{
  background: url('../img/suitcase.png') no-repeat;
  padding-left: 40px;
  padding-top: 3px;
  height: 31px;
}
#recycle
{
  background: url('../img/recycle.png') no-repeat;
  padding-left: 40px;
  padding-top: 5px;
  height: 31px;
}
#coffee
{
  background: url('../img/coffee.png') no-repeat;
  padding-left: 40px;
  padding-top: 2px;
  height: 31px;
}
div.bottom
{
  margin: 20px 40px 0px 40px;
}
div.bottom h1
{
  position: relative;
  overflow: hidden;
  margin: 0px 10px 0px 10px;
}
div.bottom h1:after
{
  display: inline-block;
  content: "";
  height: 1px;
  background: rgb(236, 111, 17);
  position: absolute;
  width: 100%;
  bottom: 15%;
  margin-left: 10px;
  z-index: 10;
}
div.bottom article
{
  display: inline-block;
  width: 280px;
  margin: 12px;
  color: rgb(123, 123, 123);
}
div.bottom h2
{
  width: 173px;
  height: 45px;
  padding-top: 12px;
  padding-left: 12px;
  background: url('../img/wrappedtitle.png') no-repeat;
}
div.bottom p
{
  margin: 10px 0px 10px 0px;
  padding-top: 20px;  
}
div.corner
{
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 80px;
  border: 0;
}
#lcorner
{
  position: relative;
  background: url('../img/corner.png') no-repeat;
  width: 96px;
  height: 100%;
}
#rcorner
{
  position: absolute;
  background: rgb(239, 239, 239);
  top: 0;
  left: 96px;
  width: 904px;
  height: 100%;
  -moz-border-radius: 0px 0px 20px 0px; 
  -webkit-border-radius: 0px 0px 20px 0px;
  border-radius: 0px 0px 20px 0px;
  -webkit-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.9);
  -moz-box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.9);
  box-shadow: 5px 5px 10px -6px rgba(0,0,0,0.9);

}
footer
{
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: -webkit-linear-gradient(rgb(50, 50, 50), rgb(20, 20, 20));
  background: -o-linear-gradient(rgb(50, 50, 50), rgb(20, 20, 20));
  background: -moz-linear-gradient(rgb(50, 50, 50), rgb(20, 20, 20));
  background: linear-gradient(rgb(50, 50, 50), rgb(20, 20, 20));
  color: rgb(204, 204, 204);
}
div.container
{
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
div.footer
{
  display: inline-block;
  width: 30%;
  height: 100%;
  vertical-align: top;
  margin: 15px;
}
footer h2
{
  color: rgb(236, 111, 17);
  margin: 10px 0px 10px 0px;
}
div.footer p
{
  padding: 10px 0px 10px 0px;
}
div.footer ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}
div.footer hr
{
  height: 1;
  border-style: groove;
  border-width: 2px 0 0 0;
  border-color: rgb(123, 123, 123);
}
div.notice
{
  width: 1000px;
  margin: 0 auto;
}
div.notice p
{
  padding: 10px;
}